In [100]:
 # Required libraries
import numpy as np
import pandas as pd
import string as st

In [101]:
# Main DataFrame for manipulatiion
datum = pd.read_excel("https://github.com/aiasci/firms/blob/main/df_1_digit.xlsx?raw=true")
datum.index = list(datum.iloc[:,0])

In [102]:
key_column =  list(range(3,14))
x1 = 257
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
op=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

op["code"]="Operational Profit to Net Sales"

In [103]:
key_column =  list(range(3,14))
x1 = 258
x3 = 269
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
nop=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]-datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

nop["code"]="Net Income From Other Operations to Net Sales"

In [104]:
key_column =  list(range(3,14))
x1 = 281
x3 = 284
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
nep=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]-datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

nep["code"] ="Net Extraordinary Income to Net Sales"

In [105]:
key_column =  list(range(3,14))
x1 = 277
x2 = 288
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
ebit=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column]+datum.loc[datum["n"]==x1].iloc[key_row,key_column])*100
ebit["code"] ="Financial Expenses to EBIT"

In [106]:
key_column =  list(range(3,14))
x1 = 288
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
p=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
p["code"] = "Profit to Net Sales"

In [107]:
key_column =  list(range(3,14))
x1 = 290
x2 = 246
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
nnp=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
nnp["code"] = "Net Profit to Net Sales"

In [108]:
key_column =  list(range(3,14))
x1 = 2
x3= 33
x4= 45
x5= 48
x2 = 126
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
key_row_4 = list(range(0,len(datum.loc[datum["n"]==x4])))
key_row_5 = list(range(0,len(datum.loc[datum["n"]==x5])))
acid=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]-datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]-datum.loc[datum["n"]==x4].iloc[key_row_4,key_column]-datum.loc[datum["n"]==x5].iloc[key_row_5,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
acid["code"] = "Acid Test Ratio"

In [109]:
key_column =  list(range(3,14))
x1 = 126
x2 = 2
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
cur=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

cur["code"] = "Short-Term Liabilities to Current Assets"

In [110]:
key_column =  list(range(3,14))
x1 = 177
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
ltfl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
ltfl["code"] = "Long-Term Financial Liabilities to Total Liabilities"

In [111]:
key_column =  list(range(3,14))
x1 = 185
x3 = 191
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
ltol=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]+datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
ltol["code"] = "Long-Term Trade and Other Liabilities to Total Liabilities"

In [112]:
key_column =  list(range(3,14))
x1 = 176
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
ltl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
ltl["code"] = "Long-Term Liabilities to Total Liabilities"

In [113]:
key_column =  list(range(3,14))
x1 = 127
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
stfl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
stfl["code"] = "Short-Term Financial Liabilities to Total Liabilities"

In [114]:
key_column =  list(range(3,14))
x1 = 137
x3 = 143
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
key_row_3 = list(range(0,len(datum.loc[datum["n"]==x3])))
stol=(datum.loc[datum["n"]==x1].iloc[key_row,key_column]+datum.loc[datum["n"]==x3].iloc[key_row_3,key_column]).div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
stol["code"] = "Short-Term Trade and Other Liabilities to Total Liabilities"

In [115]:
key_column =  list(range(3,14))
x1 = 126
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
stl=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100
stl["code"] = "Short-Term Liabilities to Total Liabilities"

In [116]:
tfl =ltfl+stfl
tfl["code"] = "Total Financial Liabilities to Total Liabilities"

In [117]:
tol = stol+ltol
tol["code"] = "Total Trade and Other Liabilities to Total Liabilities"

In [118]:
tl=tfl+tol
tl["code"] = "Liabilities to Total Liabilities"

In [119]:
key_column =  list(range(3,14))
x1 = 211
x2 = 236
key_row = list(range(0,len(datum.loc[datum["n"]==x1])))
key_row_2 = list(range(0,len(datum.loc[datum["n"]==x2])))
equ=datum.loc[datum["n"]==x1].iloc[key_row,key_column].div(datum.loc[datum["n"]==x2].iloc[key_row_2,key_column])*100

equ["code"] = "Shareholders Equity to Total Liabilities"

In [120]:
op

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,code
"A-Agriculture, forestry and fishing LARGE",16.936621,13.402767,11.531113,11.501834,9.272932,7.893639,7.772990,4.644489,9.669510,10.984054,12.976766,Operational Profit to Net Sales
"A-Agriculture, forestry and fishing MEDIUM",4.545006,3.568537,3.113610,2.733828,2.542371,4.205610,4.529063,2.945902,3.863366,5.364690,3.419380,Operational Profit to Net Sales
"A-Agriculture, forestry and fishing MICRO",-0.052036,-0.527307,-0.651456,-1.665479,-1.171079,-0.752437,-1.527761,-3.394230,-2.390356,-1.040643,-1.332831,Operational Profit to Net Sales
"A-Agriculture, forestry and fishing SMALL",2.579311,2.339880,1.293144,0.696452,1.617766,1.929083,1.730724,0.707527,1.425150,2.774781,1.490475,Operational Profit to Net Sales
B-Mining and quarrying LARGE,16.319014,18.882339,23.691611,24.363141,22.678147,12.378966,7.543256,8.707090,14.693450,24.726221,22.804550,Operational Profit to Net Sales
...,...,...,...,...,...,...,...,...,...,...,...,...
"R-Arts, entertainment and recreation MICRO",-1.865223,-1.916130,-0.583751,-2.247814,-5.183758,-4.353370,-6.701366,-9.875022,-10.428656,-7.859219,-7.739502,Operational Profit to Net Sales
"R-Arts, entertainment and recreation SMALL",-2.328796,-6.608896,-6.387289,-4.832892,-4.256679,-1.292162,-6.016760,-4.872363,-4.069767,-1.651300,-0.296506,Operational Profit to Net Sales
S-Other services activities MEDIUM,3.384148,4.046226,4.823977,1.719653,3.763691,3.167123,4.532011,4.261694,9.333514,3.836206,6.937218,Operational Profit to Net Sales
S-Other services activities MICRO,-0.326420,-0.268042,-0.907457,-0.870564,-1.608418,-2.455269,-3.574503,-5.281177,-5.882527,-3.042085,-5.317741,Operational Profit to Net Sales
S-Other services activities SMALL,2.357135,3.338424,3.136566,2.128155,2.070598,1.881101,2.284671,-0.502239,0.819126,1.194282,0.583389,Operational Profit to Net Sales

In [121]:
key_appender = ["op","nop","nep","ebit","p","nnp","acid","cur","ltfl","ltol","ltl","stfl","stol","stl","tfl","tol","tl","equ"]
datum1 = pd.DataFrame()
datum1
 # Merging all DataFrames
for i in range(0, len(key_appender)):
    datum1= datum1.append(pd.DataFrame(data=vars()[key_appender[i]]),ignore_index=False)

In [122]:
 # Saving it as excel
datum1.to_excel("datum_1_digit.xlsx", sheet_name = "Sheet1")